Repository hwakabh/random-travelers, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, deps, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: ['.github/*.yml', '.github/*.yaml', '.github/workflows/**/*']

deps:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml', 'poetry.lock']

docs:
- changed-files:
  - any-glob-to-any-file: ['**/*.md']

bug:
- head-branch: ['^fix/', '^hotfix/']

build(make): added variables for MySQL configurations.
  Makefile
Labels: none

fix(build): default parameters in Makefile.
  Makefile
Labels: none

deps: locked minimal Python version with 3.13.0.
  poetry.lock
  pyproject.toml
Labels: deps

feat(build): added Nixpacks configurations.
  .github/workflows/build.yaml
  nixpacks.toml
Labels: ci

feat(ci): implemented actions of nixpacks.
  .github/workflows/build.yaml
Labels: ci

refactor(ci): simplied with removing staled jobs.
  .github/workflows/build.yaml
Labels: ci

feat(ci): enabled pushing image to GHCR.
  .github/workflows/publish.yaml
Labels: ci

docs: added information about builds/deployment.
  README.md
Labels: docs

docs: added instructions of sealed-secrets.
  README.md
Labels: docs

docs: added kind-cluster setup and Kustomization.
  README.md
  kind-cluster.yaml
  manifests/fastapi.yaml
  manifests/ingress.yaml
  manifests/issuer.yaml
  manifests/kustomization.yaml
  manifests/mysql.yaml
  manifests/sealed-secrets.yaml
Labels: docs

feat(build): enabled to configure MySQL TCP proxy ports of Railway.
  app/config.py
  app/database.py
Labels: none

feat(build): added configs of railway.
  railway.toml
Labels: none

feat(deploy): added commands with railway-cli to Publish CI.
  .github/configs/labeler.yml
  .github/workflows/publish.yaml
  railway.toml
Labels: ci

fix(deployment): explicitly configured replicas and regions.
  railway.toml
Labels: none

chore(deps): updated import path of declarative_base() in SQLAlchemy.
  app/database.py
Labels: none

tests: added cases for all endpoints with GET.
  tests/test_endpoints.py
Labels: none

feat(database): added functions for loading initial data to MySQL.
  app/api/v1/helpers.py
  app/api/v1/models.py
  app/api/v1/routers.py
Labels: none

chore: updated raw-data of airport.csv to resolve loading issue for database.
  sql/airport.csv
Labels: none

chore(database): disabled skipping header of CSV files.
  app/api/v1/helpers.py
Labels: none

feat: enabled initialization logic with asynccontextmanager and FastAPI lifespan.
  app/api/v1/routers.py
  app/database.py
  app/main.py
Labels: none

chore: added notes to model definition.
  app/api/v1/models.py
Labels: none

chore: removed sql/ directories.
  app/api/v1/models.py
  sql/airport.csv
  sql/import.sql
Labels: none

chore(ci): added issue-labeler.
  .github/configs/issue-labeler.yaml
  .github/workflows/issue-labeler.yaml
Labels: ci

chore(ci): added semantic-issue-action.
  .github/workflows/semantic-issue-action.yaml
Labels: ci

deploy: added parse logics with JAWSDB_URL.
  app/config.py
Labels: none

deploy: replaced platform configs from railway to heroku.
  app.json
  nixpacks.toml
  railway.toml
Labels: none

ci: updated workflow configurations.
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
Labels: ci

ci: added deploy flags as semantic rules.
  .github/semantic.yml
Labels: ci

ci(test): added fallback url for JAWSDB_URL in pipeline.
  .github/workflows/tests.yaml
Labels: ci

chore: updated labeler configs with added requirements.txt
  .github/configs/labeler.yml
  requirements.txt
Labels: none

docs: added commnads for database fallbacks in local env.
  README.md
Labels: docs

deploy: made dynamic on PORT for heroku.
  Procfile
  app/main.py
  run.py
Labels: none

deploy: fixed TypeError on uvicorn.run() with Heroku.
  run.py
Labels: none

chore(deps): removed requirements.txt file duplicated with poetry.
  requirements.txt
Labels: none

build(make): fixed typo.
  Makefile
Labels: none

fix(database): error on sesison closing in get_db().
  app/database.py
Labels: none

fix(db): current query filters with escape chars.
  app/api/v1/cruds.py
  app/api/v1/routers.py
  app/api/v1/services.py
Labels: none

docs: fixed descriptions with removing Railway and Nixpack stuffs.
  README.md
Labels: docs

chore: commented out transit features.
  app/api/v1/cruds.py
  app/api/v1/schemas.py
  app/static/js/script.js
Labels: none

ci: merged semantic-issue-action into current workflows to triage issues.
  .github/workflows/issue-labeler.yaml
  .github/workflows/semantic-issue-action.yaml
Labels: ci
