Repository hwakabh/random-travelers, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, deps, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: ['.github/*.yml', '.github/*.yaml', '.github/workflows/**/*']

deps:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml', 'poetry.lock']

docs:
- changed-files:
  - any-glob-to-any-file: ['**/*.md']

bug:
- head-branch: ['^fix/', '^hotfix/']

ci: added feature to clean up staled issue as scheduled workflow.
  .github/workflows/cleanup.yaml
Labels: ci

fix(build): added fallback URL of MySQL credentials for Uvicorn app.
  Makefile
Labels: none

fix(ci): syntax error on stale-issue.
  .github/workflows/cleanup.yaml
Labels: ci

feat: enabled to fetch fixture data dynamically.
  app/api/v1/cruds.py
  app/api/v1/helpers.py
  app/database.py
Labels: none

feat: added error-handling of translate API.
  app/api/v1/services.py
Labels: none

chore: removed ununsed functions and enhanced error-handling with API key.
  app/api/v1/services.py
Labels: none

build: fixed local startup commands same as production.
  Makefile
Labels: none

feat: added prechecks before loading fixtures.
  app/database.py
  app/main.py
Labels: none

chore: added debug messages.
  app/api/v1/helpers.py
  app/api/v1/services.py
Labels: none

fix: migrated from bitnami/mysql to bitnamilegacy/mysql images.
  Makefile
  README.md
  manifests/mysql.yaml
Labels: docs

ci: enabled to sync-commit-diffs for updating PR description automatically.
  .github/pull-request-template.md
  .github/workflows/sync-commit-diffs.yaml
Labels: ci, docs

docs: added README with archival notice
  README.md
Labels: docs
