Repository hwakabh/random-travelers, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, deps, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: ['.github/*.yml', '.github/*.yaml', '.github/workflows/**/*']

deps:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml', 'poetry.lock']

docs:
- changed-files:
  - any-glob-to-any-file: ['**/*.md']

bug:
- head-branch: ['^fix/', '^hotfix/']

fix: removed unexpected inputs.
  .github/workflows/release-please.yaml
Labels: ci

chore: added Makefile for starting up MySQL and app.
  Makefile
  README.md
Labels: docs

chore: added wait time for starting up MySQL container.
  Makefile
Labels: none

chore: added probes for wait startups
  Makefile
Labels: none

chore: fixed indents.
  Makefile
Labels: none

fix: minor changes
  Makefile
Labels: none

docs: added make command to README.md
  README.md
Labels: docs

fix: Go templates syntax with docker command.
  Makefile
Labels: none

fix: minor changes.
  Makefile
Labels: none

fix: updated logics of readiness probes.
  Makefile
Labels: none

ci: updated labeler configs.
  .github/configs/labeler.yml
  .github/workflows/pull-request-labeler.yaml
Labels: ci

test: updated dependencies for testings
  poetry.lock
  pyproject.toml
Labels: deps

test: updated deps for testings.
  poetry.lock
  pyproject.toml
Labels: deps

tests: added first testcase for positive/negative case with /healthz.
  tests/test_healthz.py
Labels: none

ci: prepared for build with Google Cloud buildpacks.
  .github/configs/trivy.yaml
  .github/workflows/build.yaml
  Procfile
Labels: ci

fix: modified config file path for jobs.
  .github/workflows/build.yaml
  .github/workflows/pull-request-labeler.yaml
Labels: ci

ci: cleaned up comments and added workflows of pushing image to GHCR.
  .github/workflows/publish.yaml
Labels: ci

ci: Added pipelines for testings.
  .github/workflows/tests.yaml
Labels: ci

ci: fixed commands for running tests via poetry.
  .github/workflows/tests.yaml
Labels: ci

ci: fixed with adding missing jobs for tests.
  .github/workflows/tests.yaml
Labels: ci

ci: Bumped poetry version with upgrading local env.
  .github/workflows/tests.yaml
Labels: ci

ci: Fixed typo.
  .github/workflows/build.yaml
  .github/workflows/tests.yaml
Labels: ci

refactor(ui): exported styles and make contexts dynamic.
  app/main.py
  app/static/css/style.css
  app/templates/index.html.mako
Labels: none

styles: reverted back elements required by JavaScript.
  app/static/css/style.css
  app/static/js/script.js
  app/templates/index.html.mako
Labels: none

feat: enabled to fetch JavaScript contexts via backend for security: #40.
  app/api/v1/routers.py
  app/static/js/script.js
  app/templates/index.html.mako
Labels: none

fix: Query strings for restcounties.com and key to access response.
  app/api/v1/cruds.py
Labels: none

refactor: replaced with requests for visibility and added debug messages.
  app/api/v1/cruds.py
Labels: none

docs: added descriptions of API key.
  README.md
Labels: docs

refactor: exported credentials with pydantic-settings.
  app/api/v0/cruds.py
  app/config.py
  poetry.lock
  pyproject.toml
Labels: deps

chore: added comments for maintenance.
  app/config.py
Labels: none

ci: updated pipeline with envs for database connections.
  .github/workflows/build.yaml
  .github/workflows/tests.yaml
Labels: ci

ci: removed service as port conflictions.
  .github/workflows/build.yaml
  .github/workflows/tests.yaml
Labels: ci

ci: added debug messages for sanity checks.
  .github/workflows/build.yaml
Labels: ci

chore: commented out /heathz sanity checks.
  .github/workflows/build.yaml
Labels: ci

chore(deploy): added manifests related to MySQL/FastAPI.
  .gitignore
  manifests/controllers/sealed-secret-controller.yaml
  manifests/fastapi.yaml
  manifests/mysql.yaml
  manifests/namespace.yaml
  manifests/sealed-secrets.yaml
Labels: none

ci: updated labeler config for tag:deployment.
  .github/configs/labeler.yml
Labels: none

chore: added notes to templates.
  app/templates/index.html.mako
Labels: none

refactor(config): updated name of instance for exporting configs.
  app/api/v0/cruds.py
  app/config.py
Labels: none

refactor: migrated GAS logics to backend with schemas.
  app/api/v1/routers.py
  app/api/v1/schemas.py
  app/static/js/script.js
Labels: none

ci: fixed tests for missing default value of BaseSettings.
  app/config.py
Labels: none
