Repository hwakabh/random-travelers, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, deps, docs

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: ['.github/*.yml', '.github/*.yaml', '.github/workflows/**/*']

deps:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml', 'poetry.lock']

docs:
- changed-files:
  - any-glob-to-any-file: ['**/*.md']

bug:
- head-branch: ['^fix/', '^hotfix/']

chore: updated http_referer value for spoofing.
  app/api/v1/routers.py
Labels: none

refactor: modified payload with renamed key for avoid confusions: relates #69
  app/api/v1/routers.py
  app/api/v1/schemas.py
  app/static/js/script.js
Labels: none

chore: fixed typo.
  app/static/js/script.js
Labels: none

chore: renamed exports name of AppConfig: relates #57.
  app/api/v0/cruds.py
  app/api/v1/routers.py
  app/config.py
Labels: none

fix(seeds): updated SQL for generic uses.
  sql/import.sql
Labels: none

chore: updated deps for adding SQLAlchemy.
  poetry.lock
  pyproject.toml
Labels: deps

feat: added model/schema/crud for base for Airport instances.
  app/api/v1/cruds.py
  app/api/v1/models.py
  app/api/v1/routers.py
  app/api/v1/schemas.py
  app/database.py
Labels: none

chore: adjusted formats.
  app/api/v0/cruds.py
  app/main.py
Labels: none

refactor: migrated cruds function from v0 to v1.
  app/api/v0/cruds.py
  app/api/v0/routers.py
  app/api/v1/cruds.py
  app/api/v1/routers.py
Labels: none

chore: fixed typo.
  app/api/v0/routers.py
Labels: none

feat: enabled to fetch URL path dynamically for v0 API.
  app/api/v0/routers.py
Labels: none

feat: added schemas for v0 API: #66.
  app/api/v0/routers.py
  app/api/v0/schemas.py
Labels: none

refactor: separated logics for each functionalities with FastAPI frameworks.
  app/api/v1/cruds.py
  app/api/v1/helpers.py
  app/api/v1/routers.py
  app/api/v1/schemas.py
  app/api/v1/services.py
Labels: none

chore: fixed imports and styles.
  app/database.py
  app/main.py
Labels: none

docs: updated notes for directory structures.
  README.md
Labels: docs

refactor(deps): replaced requests with httpx.
  app/api/v1/cruds.py
  app/api/v1/helpers.py
  app/api/v1/services.py
  poetry.lock
  pyproject.toml
Labels: deps

refactor: migrated logics from previous implementations.
  app/api/v1/cruds.py
  app/api/v1/routers.py
  app/api/v1/schemas.py
  app/api/v1/services.py
  app/static/css/style.css
  app/static/js/script.js
  app/templates/index.html.mako
Labels: none

style: separated styles from templates.
  app/static/css/style.css
  app/templates/index.html.mako
Labels: none

refactor(types): applied schemas for search results.
  app/api/v1/cruds.py
  app/api/v1/routers.py
  app/api/v1/schemas.py
  app/static/js/script.js
Labels: none

chore: updated seeds procedures.
  sql/import.sql
Labels: none

refactor: replaced mysql-connector-python methods with ORM: #74
  app/api/v1/cruds.py
  app/api/v1/models.py
  app/api/v1/routers.py
Labels: none

chore(types): updated schemas for database entities: #66
  app/api/v1/schemas.py
Labels: none

chore: updated seeds SQL and models.
  app/api/v1/models.py
  app/api/v1/routers.py
  sql/import.sql
Labels: none

refactor: optimized logics for random choice of region/country.
  app/api/v1/services.py
Labels: none

refactor(types): implemented schemas for each router/cruds/service functions.
  app/api/v1/cruds.py
  app/api/v1/routers.py
  app/api/v1/schemas.py
  app/api/v1/services.py
  app/static/js/script.js
Labels: none

refactor(types): added typehints to helper functions.
  app/api/v1/helpers.py
Labels: none

feat(ci): added semantic PR.
  .github/semantic.yml
Labels: ci

feat(ci): added cleanup workflow for staled images.
  .github/workflows/cleanup.yaml
Labels: ci

build: added manifest for cert-manager issuer for domain.
  manifests/issuer.yaml
Labels: none

build: added manifest of ingress with changing backend serviceType.
  manifests/fastapi.yaml
  manifests/ingress.yaml
Labels: none

build: removed mysql deployment with migrations to GCE.
  manifests/mysql.yaml
Labels: none

chore(build): updated sealed credentials with migration to GCE.
  manifests/sealed-secrets.yaml
Labels: none

deps(certifi): bumped to 2024.07.04 for fixing Trivy CVE scan.
  poetry.lock
Labels: deps

chore(ci): added deps prefix for semantic-pr.
  .github/semantic.yml
Labels: ci

chore(deps): replaced orm_mode with model_config.
  app/api/v1/schemas.py
Labels: none

chore(deps): added from_attributes flag to model_config.
  app/api/v1/schemas.py
Labels: none

ci(deps): resovled depreciated options in trivy configs.
  .github/configs/trivy.yaml
Labels: none

chore(deps): updated lockfiles after merging PRs.
  poetry.lock
Labels: deps

ci: explicitly provided ubuntu-24.04 as base images.
  .github/workflows/build.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/publish.yaml
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/release-please.yaml
  .github/workflows/tests.yaml
Labels: ci

feat: enabled to create database for first migration.
  app/database.py
Labels: none
